# binaries
*.exe
*.dll
*.lib
*.exp
*.obj
*.so
*.do
*.o
*.a
*.dylib
*.dSYM
*.mex*
*.oct
*.py[cod]
*.tar.gz
*.zip

# build output: prefer out-of-tree builds
build/

# MacOS
.DS_Store

# VSCode
.vscode/
