*.tar.gz
*.exe
*.dll
*.do
*.o
*.lo
*.la
*.dylib
*.dSYM
*.mex*
*.oct
*.zip

# generated code
api/nlopt.f
api/nlopt.hpp
octave/nlopt_optimize_usage.h
nlopt.pc
swig/nlopt-enum-renames.i
swig/nlopt-guile.cpp
swig/nlopt-python.cpp
swig/nlopt.py
swig/nlopt.scm
swig/nlopt.scm.in
README-WINDOWS
mingw32
mingw64

# executables
test/testopt
util/redblack_test

# autotools stuff
Makefile
Makefile.in
.deps
.libs
stamp-h1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
configure
config.*
autom4te.cache
INSTALL
README
aclocal.m4
depcomp
missing
py-compile
compile
