*.tar.gz
*.exe
*.dll
*.do
*.o
*.lo
*.la
*.dylib
*.dSYM
*.mex*
*.oct
*.zip

# generated code
api/nlopt.f
api/nlopt.hpp
octave/nlopt_optimize_usage.h
nlopt.pc
swig/nlopt-enum-renames.i
swig/nlopt-guile.cpp
swig/nlopt-python.cpp
swig/nlopt.py
swig/nlopt.scm
swig/nlopt.scm.in
README-WINDOWS
mingw32
mingw64

# executables
octave/dummy
test/testopt
util/redblack_test
